# 가상 환경
venv/

tradingBot/stock_token_real.json
tradingBot/stock_token_virtual.json
tradingBot/myStockInfo.yaml
tradingBot/Kosdaqpi_Bot.py
tradingBot/__pycache__/*
tradingBot/.env
tradingBot/line_alert.py
tradingBot/trading_log_virtual.csv
tradingBot/trading_summary_virtual.csv
tradingBot/trade_history_virtual.json
tradingBot/trading_configs.json

tradingBot/cron_temp.log
tradingBot/Python-3.12.0/
trading_configs.json
tradingBot/trading_log.csv
tradingBot/trading_summary.csv
.gitignore
tradingBot/trade_history.json
