[Unit]
Description=Dolpha Autobot FastAPI Service
After=network.target

[Service]
Type=simple
User=dolpha
Group=dolpha
WorkingDirectory=/var/autobot/dolpha_autobot
Environment=PATH=/var/autobot/dolpha_autobot/venv/bin
ExecStart=/var/autobot/dolpha_autobot/venv/bin/python /var/autobot/dolpha_autobot/main.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
